{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        org.clojure/core.async {:mvn/version "1.8.741"}
        io.helidon.http/helidon-http {:mvn/version "4.3.1"}
        io.helidon.webserver/helidon-webserver {:mvn/version "4.3.1"}
        io.helidon.webserver/helidon-webserver-websocket {:mvn/version "4.3.1"}
        io.helidon.webserver/helidon-webserver-http2 {:mvn/version "4.3.1"}
        io.helidon.logging/helidon-logging-slf4j {:mvn/version "4.3.1"}
        org.ring-clojure/ring-core-protocols {:mvn/version "1.14.2"}
        com.aayushatharva.brotli4j/brotli4j {:mvn/version "1.18.0"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      less-awful-ssl/less-awful-ssl {:mvn/version "1.0.6"}
                      eftest/eftest {:mvn/version "0.6.0"}
                      stylefruits/gniazdo {:mvn/version "1.2.2"}
                      clj-http/clj-http {:mvn/version "3.12.0"}}
         :exec-fn s-exp.hirundo-test-runner/run}
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.10.9" :git/sha "e405aac"}
          io.github.slipset/deps-deploy {:git/sha "07022b92d768590ab25b9ceb619ef17d2922da9a"}}
   :ns-default build}}}
