{:exoscale.project/lib com.s-exp/hirundo
 :exoscale.project/version-file "VERSION"
 :exoscale.project/deploy? true
 :exoscale.project/pom-data
 [[:licenses
   [:license
    [:name "Eclipse Public License - v 2.0"]
    [:url "https://www.eclipse.org/legal/epl-2.0/"]
    [:distribution "repo"]]]]

 :slipset.deps-deploy/exec-args {:installer :remote
                                 :sign-releases? false
                                 :repository "clojars"}

 :paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0-alpha1"}
        io.helidon.http/helidon-http {:mvn/version "4.0.9"}
        io.helidon.webserver/helidon-webserver {:mvn/version "4.0.9"}
        io.helidon.webserver/helidon-webserver-websocket {:mvn/version "4.0.9"}
        io.helidon.webserver/helidon-webserver-http2 {:mvn/version "4.0.9"}
        org.ring-clojure/ring-core-protocols {:mvn/version "1.12.0"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      less-awful-ssl/less-awful-ssl {:mvn/version "1.0.6"}
                      eftest/eftest {:mvn/version "0.6.0"}
                      stylefruits/gniazdo {:mvn/version "1.2.2"}
                      clj-http/clj-http {:mvn/version "3.12.0"}}
         :exec-fn s-exp.hirundo-test-runner/run}

  :project
  {:extra-deps {io.github.exoscale/tools.project {:git/sha "ce87a95e95abfde832043aff5af7ecb06ad79fe7"}}
   :ns-default exoscale.tools.project
   :jvm-opts ["-Dclojure.main.report=stderr"]}}}
